<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" href="/public/styles/stylesheet.css" rel="stylesheet" />

</head>
<body>
    <section class="footer">
        <div class="footer-copy">
            <span class="copyright">&#169; 2024 | Cristi Gutierrez Name</span>
            <div>
                <a class="repo" href="https://github.com/justbycris" target="_blank">github</a>
                <a class="repo" href="https://bycris.netlify.app/" target="_blank">portfolio</a>
            </div>
        </div>
    </section>
</body>
</html>