<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" href="/public/styles/stylesheet.css" rel="stylesheet" />

</head>
<body>
    <section class="footer">
        <div class="footer-copy">
            <span class="copyright">&#169; 2024 | Cristi Gutierrez Name</span>
            <a class="repo" href="" target="_blank">View code</a>
        </div>
    </section>
</body>
</html>